.main_container{
    margin-top: 200px;
}
.main_wrapper{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.tower_img{
    border-radius: 24px;

}



.company{
    font-size: 28px;
    
}
.company_title{
    
    font-size: 30px;
    font-weight: bold;
    color: burlywood;

}
.copmpany_description{
    margin-top: 80px;
    font-size: 20px;
    color: gray;

}
.bottom_content{
    display: flex;
    align-items: center;

    gap: 10px;
    margin-top: 20px;

}
.aboutUS_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.aboutUS_container:hover{
    background-color: blanchedalmond;
    border-radius: 12px;
}


.catalog_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.catalog_container:hover{
    background-color: blanchedalmond;
    border-radius: 12px;
}

.About{
    font-size: 18px;
    font-weight: bold;
}
.icons_contaienr{
    display: flex;
}
.b_icon{
    width: 40px;
}