*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0.5rem;
   }


    .header_container {
        display: flex ;
        align-items: center;
        justify-content: center;
        height: 800px;
        background: 
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url(../../public/img/iran.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    


      .Header_title{
        color: orange;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        
      }