.footer_container{
    background-color: #263238;
    margin-top: 100px;



}
.footer_text_container{
    padding-top: 60px;
    padding-left: 40px;
}


.footer_first_Text{
    font-size: 30px;
    color: white;
}
.footer_cesond_Text{
    font-size: 40px;
    color: white;

}

.footer_box_container{
    display: flex;
    justify-content: space-evenly;
}